@tailwind base;
@tailwind components;
@tailwind utilities;

label-validate {
    @apply mt-2 text-xs text-red-500 font-serif hidden;
}

.input-primary {
    @apply form-control m-0 block w-full max-w-xs rounded border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1.5 text-sm font-normal text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none;
}

.checkbox-primary {
    @apply float-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none rounded-full border border-gray-300 bg-white bg-contain bg-center bg-no-repeat align-top transition duration-200 checked:border-blue-600 checked:bg-blue-600 focus:outline-none;
}

.label-checkbox-primary {
    @apply inline-block text-sm text-gray-800;
}

.btn-primary {
    @apply inline-block rounded bg-[#fbbd23] px-6 py-2.5 text-sm font-bold uppercase leading-tight text-black shadow-md transition duration-150 ease-in-out hover:bg-[#b58714] hover:shadow-lg focus:bg-[#b58714] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#b58714] active:shadow-lg;
}

.select-primary {
    @apply form-select m-0 block w-full max-w-xs appearance-none rounded border border-solid border-gray-300 bg-white bg-clip-padding bg-no-repeat px-3 py-1 text-sm text-gray-700 transition ease-in-out focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none;
}

/* timeline */
.desc-timeline {
	@apply mt-2 mb-4 text-sm text-gray-700;
}

.desc-timeline-success {
	@apply mt-2 mb-4 text-sm text-green-600;
}

/* steps */
.steps {
	@apply gap-2;
}

.steps .step {
	@apply lg:min-w-[10rem];
}

.input-form {
	@apply m-0
    block
    w-full
    rounded
    border
    border-solid
    border-gray-300
    bg-white bg-clip-padding
    px-3 py-1.5 text-base
    font-normal
    text-gray-700
    transition
    ease-in-out
    focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none;
}

.input::placeholder {
	font-size: smaller;
	font-weight: 100;
}

/* Loading skeleton */
.container-loading {
	display: flex;
	height: 200px;
	padding: 1%;
}

.img-container {
	width: 15%;
	padding: 20px;
}

.img {
	border: 1px solid white;
	width: 100%;
	height: 100%;
	background-color: #babbbc;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: space-between;
	width: 300px;
}

.stripe {
	border: 1px solid white;
	height: 20%;
	background-color: #babbbc;
}
.extra-small-stripe {
	width: 50%;
}

.small-stripe {
	width: 60%;
}

.medium-stripe {
	width: 70%;
}

.long-stripe {
	width: 80%;
}

.container-loading.loading .img,
.container-loading.loading .stripe {
	animation: hintloading 2s ease-in-out 0s infinite reverse;
	-webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

@keyframes hintloading {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

@-webkit-keyframes hintloading {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

/* Loading Spinner */
.lds-ring {
	display: inline-block;
	position: relative;
	width: 30px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 2px solid blue;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: blue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Loading cube */
.loading-cube {
	width: 48px;
	height: 48px;
	margin: auto;
	position: relative;
}

.loading-cube:before {
	content: '';
	width: 48px;
	height: 5px;
	background: hsl(var(--p) / 0.2);
	position: absolute;
	top: 60px;
	left: 0;
	border-radius: 50%;
	animation: shadow324 0.5s linear infinite;
}

.loading-cube:after {
	content: '';
	width: 100%;
	height: 100%;
	background: hsl(var(--p));
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
	15% {
		border-bottom-right-radius: 3px;
	}

	25% {
		transform: translateY(9px) rotate(22.5deg);
	}

	50% {
		transform: translateY(18px) scale(1, 0.9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		transform: translateY(9px) rotate(67.5deg);
	}

	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes shadow324 {
	0%,
	100% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.2, 1);
	}
}

.timepicker-mode-wrapper {
	display: none !important;
}

/* .flatpickr-weekdays{
    margin-top: 16px;
} */

/* .flatpickr-day.selected{
    background: #fbbd23 !important;
    border-color: #fbbd23 !important;
} */

.flatpickr-day.today{
    border-color: transparent !important;
}

.alert-loading {
    background-color: transparent;
}

.loading {
    display: flex;
    transform: scale(2.5);
  }

  .loading .ball {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    transition: transform 0.3s infinite;
  }

  .ball + .ball {
    margin-left: 0.4rem;
  }

  .loading .ball.one {
    animation: loadingBall 0.5s infinite alternate;
    background: #FF592930;
  }
  .loading .ball.two {
    animation: loadingBall2 0.5s infinite 0.2s alternate;
    background: #FC065130;
  }
  .loading .ball.three {
    animation: loadingBall3 0.5s infinite 0.35s alternate;
    background: #6CB94430;
  }
  .loading .ball.four {
    animation: loadingBall4 0.5s infinite 0.5s alternate;
    background: #2DE2FA30;
  }



  @keyframes loadingBall {

    0% {
      transform: translateY(-10px) scale(1.2);
      background: #FF5929;
      box-shadow: 0 0 2px #FF5929aa;
    }
    100% {
      transform: translateY(5px);
    }
  }

  @keyframes loadingBall2 {

    0% {
      transform: translateY(-10px) scale(1.2);
      background: #FC0651;
      box-shadow: 0 0 2px #FC0651aa;
    }
    100% {
      transform: translateY(5px);
    }
  }

  @keyframes loadingBall3 {

    0% {
      transform: translateY(-10px) scale(1.2);
      background: #6CB944;
      box-shadow: 0 0 2px #6CB944aa;
    }
    100% {
      transform: translateY(5px);
    }
  }

  @keyframes loadingBall4 {

    0% {
      transform: translateY(-10px) scale(1.2);
      background: #2DE2FA;
      box-shadow: 0 0 2px #2DE2FAaa;
    }
    100% {
      transform: translateY(5px);
    }
  }
