@tailwind base;
@tailwind components;
@tailwind utilities;

/* timeline */
.desc-timeline {
    @apply mt-2 mb-4 text-sm text-gray-700;
}

.desc-timeline-success {
    @apply mt-2 mb-4 text-sm text-green-600;
}

/* steps */
.steps {
    @apply gap-2;
}

.steps .step {
    @apply lg:min-w-[10rem];
}

.input-form {
    @apply m-0
    block
    w-full
    rounded
    border
    border-solid
    border-gray-300
    bg-white bg-clip-padding
    px-3 py-1.5 text-base
    font-normal
    text-gray-700
    transition
    ease-in-out
    focus:border-blue-600 focus:bg-white focus:text-gray-700 focus:outline-none;
}

.input::placeholder {
    font-size: smaller;
    font-weight: 100;
}

/* Loading skeleton */
.container-loading {
    display: flex;
    height: 200px;
    padding: 1%;
}

.img-container {
    width: 15%;
    padding: 20px;
}

.img {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    background-color: #babbbc;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    width: 300px;
}

.stripe {
    border: 1px solid white;
    height: 20%;
    background-color: #babbbc;
}
.extra-small-stripe {
    width: 50%;
}

.small-stripe {
    width: 60%;
}

.medium-stripe {
    width: 70%;
}

.long-stripe {
    width: 80%;
}

.container-loading.loading .img,
.container-loading.loading .stripe {
    animation: hintloading 2s ease-in-out 0s infinite reverse;
    -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

@keyframes hintloading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@-webkit-keyframes hintloading {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

/* Loading Spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid blue;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: blue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loading cube */
.loading-cube {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loading-cube:before {
    content: "";
    width: 48px;
    height: 5px;
    background: hsl(var(--p) / 0.2);
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
}

.loading-cube:after {
    content: "";
    width: 100%;
    height: 100%;
    background: hsl(var(--p));
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow324 {
    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}
